*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    list-style-type: none;
    font-weight: normal;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #333;
}


#changePic {
    animation :imgfade 4s infinite;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;    
    z-index: -1;
}
    
@keyframes imgfade {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.nav-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
}


.nav-side h1 {
    font-size: 40px;
    letter-spacing: 0;
}


.header-sm {
    display: none;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
}

.header-sm img {
    width: 24px;
}

.nav-title { 
    margin-left: 20rem;
    margin-top: 16rem;
}

.nav-title h1 {
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
}




@media only screen and (min-width: 1024px){
    
    .nav-section {
        height: 100vh;
    }
    
    #changePic {
        animation :imgfade 4s infinite;
        opacity: 0;
        position: absolute;
        right: 0;
        width: 83vw;
        object-fit: contain;
        z-index: -1;
    }
        
    @keyframes imgfade {
        0% {
            opacity: 0;
        }
        
        25% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
    
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    .nav-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        -webkit-transform: translate( 0%, 0%);
        -ms-transform: translate(0%, 0%);
        background-color: unset;
        height: 100vh;
        padding: 1rem 0rem 5rem 2.5rem;
        -ms-writing-mode: unset;
        writing-mode: unset;
        text-orientation: unset;
    }
    
    .nav-side img {
        width: 35px;
    }
    
    .nav-side h1 {
        font-size: 40px;
        letter-spacing: 0.6rem;
        line-height: 1.3;
        padding-top: 1rem;
    }
    
    
    .header-sm {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-left: 1.5rem;
    }
    
    .header-sm img {
        width: 24px;
    }
    
    .nav-title { 
        margin-left: 20rem;
        margin-top: 16rem;
    }
    
    .nav-title h1 {
        font-size: 50px;
        font-weight: 500;
        font-style: italic;
    }

    .carousel {
        margin-top: 5rem;
        margin-left: 11rem;
        padding: 20px;
        perspective: 500px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel p {
        font-size: 30px;
        margin-bottom: 2rem;
    }
    
    .carousel > * {
        flex: 0 0 auto;
    }

    .carousel figure {
        margin: 0;
        width: 500px;
        transform-style: preserve-3d;
        transition: transform 0.5s;
        transform-origin: 50% 50% -482.8427124746px;
    }

    .carousel figure img {
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
        opacity: 1;
    }

    .carousel figure img:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 50% 50% -482.8427124746px;
    }

    .carousel figure img:nth-child(2) {
        transform: rotateY(1.26rad);
    }

    .carousel figure img:nth-child(3) {
        transform: rotateY(2.515rad);
    }

    .carousel figure img:nth-child(4) {
        transform: rotateY(3.765rad);
    }

    .carousel figure img:nth-child(5) {
        transform: rotateY(5.02rad);
    }


    .carousel nav {
        display: flex;
        justify-content: center;
        margin: 20px 0 0;
    }

    .carousel nav button {
        flex: 0 0 auto;
        margin: 0 5px;
        cursor: pointer;
        color: #333;
        background: none;
        border: 1px solid;
        letter-spacing: 1px;
        padding: 5px 10px;
    }
}
